.head {
  width: calc(100vw - 24px);
  box-shadow: var(--box-shadow);
  color: #A933FF;
  background: #e1dae8;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 1rem;

  .title {
    font: var(--tui-font-heading-5);
    line-height: 1;
  }
}
