:host {
  padding: 12px;
  display: block;

  .container {
    display: flex;
  }

  .header {
  display: flex;
  flex-direction: column;
  width: 20rem;
  gap: 16px;
  margin-top: 10px;

  .add {
    font: var(--tui-font-heading-3)
  }
}

}
