:host {
  width: 75%;
  padding: 24px;
}

.actions {
  display: flex;
  width: 100%;
}

.tui-island__footer-button {
  border-radius: var(--tui-radius-xl);
  width: 53%;
}

.file {
  border-radius: 1rem;
  margin-top: 1.5rem;
  max-width: 1000px;
  max-height: 700px;
  height: auto;
  width: auto
}
