:host {
  width: 100%;
  min-height: 85vh;
  display: flex;
  align-items: center;
  border: 3px solid var(--tui-base-03);
  justify-content: center;
  margin: 1rem;
  border-radius: 1rem;

  p {
    font-size: 24px;
  }
}
